@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');


a {
    color: black;
}

body {
    font-family: 'Heebo', sans-serif;
}

/* Header start */
header {
    background: #fff;
    opacity: 0.95;
    text-align: end;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 5;
}


header .nav-links {

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 50px;

}


header .nav-links .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;


}

header .nav-links .links li {
    padding: 0 18px;
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
}


.fa-solid {
    display: none;
    background: #FFF;
}

.active {

    color: #FF6464;
}

header .nav-links>ul li :hover {

    background: #FFF;
    color: #FF6464;

}

.sticky-navbar {
    position: sticky;
    opacity: 0.9;
    border: 1px solid #ddd;
}


@media (max-width:768px) {
    header .nav-links {
        padding-right: 20px;
    }

    .fa-solid {
        display: block;
        font-size: 30px;
        cursor: pointer;


    }

    header .nav-links .links {
        display: none;
    }

  .fa-solid:hover {

        background: #FFF;
        color: #FF6464;

    }
}

/* Header end */


/* My info start */
.my-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 20px;
    padding-bottom: 71px;
    max-width: 900px;
    margin: 20px auto;
}

.my-info .left>h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    max-width: 400px;
}

.my-info .left>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 40px;
    padding-bottom: 38px;
}

.my-info .left>a {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    padding: 5px 15px;
    border-radius: 2px;
    background: #FF6464;
    color: #FFFFFF;
}

.my-info .left>a:hover {
    background: #FFF;
    color: #FF6464;
}

.my-info .right {
    max-width: 300px;
    min-width: 200px;
    border-radius: 100px;
}

.my-info .right>img {
    width: 100%;
    border-radius: 100%;
}






@media (max-width:1050px) {

    .my-info {
        padding: 50px 20px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .my-info .left>h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        padding-top: 20px;
    }


    .my-info .left>p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}


/* My info end */


/* Recent post start */

.recent-posts {
    background: #EDF7FA;
    max-width: 100%;
    margin: 0 auto;
}

.recent-posts>div {
    padding: 0 20px;
    padding-bottom: 15px;
    max-width: 900px;
    margin: 0 auto;
}

.recent-posts .top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}

.recent-posts .top-side>h5 {
    font-weight: 400;
    font-size: 28px;
    line-height: 60px;
}

.recent-posts .top-side .wiew {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    border: 0;
    background: #EDF7FA;
    color: #00A8CC;

}


.recent-posts .top-side .wiew:hover {
    opacity: 0.6;
}

.recent-posts .cards-item {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 10px;
}


.recent-posts .card {
    display: inline-block;
    max-width: 350px;
    min-width: 220px;
    height: 295px;
    padding: 10px;
    margin-bottom: 20px;
}


.recent-posts .card>h6 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 18px;
}

.recent-posts .card>span {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.recent-posts .card>span:nth-child(2) {
    border-right: 2px solid #000;
    padding-right: 10px;
}


.recent-posts .card>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 11px;

}
.recent-posts .card {
    max-width: 418px;

}

.recent-posts .card:nth-child(3),
.recent-posts .card:nth-child(4),
.recent-posts .card:nth-child(5),
.recent-posts .card:nth-child(6) {
    display: none;
}


@media (max-width:1000px) {

    .recent-posts .cards-item {
        justify-content: center;
        flex-wrap: wrap;

    }

}


@media (max-width:768px) {


    .recent-posts .card>h6 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 18px;
    }

    .recent-posts .card>span {

        font-size: 16px;
        line-height: 22px;
    }

    .recent-posts>div {

        padding: 0 20px;


    }
}

/* Recent post end */

/* Featured works start */
.featured-works {
    padding: 15px 20px;
    max-width: 900px;
    min-height: 250;
    margin: 0 auto;
}

.featured-works>h5 {
    font-weight: 400;
    font-size: 28px;
    line-height: 60px;
}

.featured-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #E0E0E0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.featured-card .img {
    width: 250px;
}

.featured-card .img>img {
    width: 100%;
}

.featured-card .featured-right {
    padding-left: 20px;
    width: 400px;
}


.featured-card .featured-right>h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 16px;

}

.featured-card .featured-right>span:nth-child(2) {
    background: #142850;
    border-radius: 16px;
    color: #FFF;
    padding: 2px 8px;
}

.featured-card .featured-right>span:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    padding-left: 18px;
}


.featured-card .featured-right>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
}

.featured-card:nth-child(5) {
    display: none;
}


@media (max-width:1050px) {
    .featured-card .featured-right {
        padding-left: 0;
    }
}

@media (max-width:950px) {

    .featured-card {
        flex-wrap: wrap;
    }

}

@media (max-width:768px) {

    .featured-works {
        padding-left: 20px;
        padding-right: 20px;
    }




    .featured-card:nth-child(2),
    .featured-card:nth-child(3) {
        display: none;
    }
}


/* Featured works end */


/* Blog section start */

.blog-section {
    padding: 15px 20px;
    max-width: 900px;
    min-height: 250;
    margin: 20px auto;
}

.blog-section>h5 {
    font-weight: 400;
    font-size: 28px;
    line-height: 60px;
}

.blog-section .blog-items {

    border-bottom: 1px solid #E0E0E0;
}

.blog-section .blog-items>h6 {

    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 15px;

}

.blog-section .blog-items>span {

    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin: 16px 0;

}

.blog-section .blog-items>span:nth-child(2) {
    border-right: 1px solid;
    padding-right: 10px;
}

.blog-section .blog-items>span:nth-child(3) {


    color: #8695A4;
}

.blog-section .blog-items>p {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;

}




/* Blog section end */


/* Work section start */

.work-section {
    padding: 15px 20px;
    max-width: 900px;
    min-height: 250;
    margin: 0 auto;
}

.work-section>h5 {
    font-weight: 400;
    font-size: 28px;
    line-height: 60px;
}

.work-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #E0E0E0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.work-card .img {
    width: 250px;
}

.work-card .img>img {
    width: 100%;
}

.work-card .work-right {
    padding-left: 10px;
    width: 400px;
}


.work-card .work-right>h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 16px;

}

.work-card .work-right>span:nth-child(2) {
    background: #142850;
    border-radius: 16px;
    color: #FFF;
    padding: 2px 8px;
}

.work-card .work-right>span:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    padding-left: 18px;
}


.work-card .work-right>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
}






@media (max-width:1050px) {
    .work-card .work-right {
        padding-left: 0;
    }
}

@media (max-width:950px) {

    .work-card {
        flex-wrap: wrap;
    }

}

@media (max-width:768px) {

    .work-section {
        padding-left: 20px;
        padding-right: 20px;
    }




    .work-card:nth-child(2),
    .work-card:nth-child(3) {
        display: none;
    }
}

/* Work section end */


/* Dashboard Section start */
.dashboard-section {
    padding: 15px 20px;
    max-width: 900px;
    margin: 0 auto;
}

.dashboard-section>h5 {
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
}



.dashboard-section span:nth-child(1) {
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    background: #142850;
    color: #FFF;
    border-radius: 15px;
    padding: 3px 10px;
}

.dashboard-section span:nth-child(2) {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    padding-left: 10px;
}

.dashboard-section>div p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 46px;
    padding-top: 10px;

}

.dashboard-section>div .img {
    max-width: 900px;
}

.dashboard-section>div .img img {
    width: 100%;
}





@media (max-width:768px) {

    .dashboard-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .dashboard-section>h5 {

        font-size: 22px;

    }



    .dashboard-section span:nth-child(1) {

        font-size: 16px;

        line-height: 24px;
    }

    .dashboard-section span:nth-child(2) {

        font-size: 18px;
        line-height: 24px;

    }

    .dashboard-section>div p {

        font-size: 14px;
        ;

    }



}

/* Dashboard Section end */


/* Footer start */


footer .form-items {
    max-width: 700px;
    margin: 30px auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    
}
.text-left {
    padding-left:5px;
}

.btn-submit-reset {
display: flex;
justify-content: space-between;
}

.btn-submit-reset .btn {
    width: 48%;
}

footer {
    background: rgb(248 248, 248);
    text-align: center;
    margin-bottom: 20px;
}

footer .sosial-media {
    padding-bottom: 10px;

}

footer .sosial-media a {
    font-size: 30px;
    padding: 0 30px;
}

footer .sosial-media a:hover{
    opacity: 0.8;
}

footer p {
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}

/* Footer end */